{%
set classes = [
'node--event--teaser',
'node--event'
]
%}
<article{{ attributes.addClass(classes) }}>

  <h3{{ title_attributes }}>
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h3>

  <div{{ content_attributes.addClass('node__content') }}>
    {{ content }}
  </div>

</article>