
{%
set classes = ['section','page-section']
%}
<div{{ attributes.addClass(classes) }}>
  <div class="section-content page-section-content">
    {% if title %}
      {# TODO: title class should be processed via attributes #}
      <{{ title_tag|raw }}{{ title_attributes }} class="section-title page-section-title">{{ title }}</{{ title_tag|raw }}>
    {% endif %}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
